doctype 
head 
title Web Page 
link(rel="stylesheet", href="static/style.css")
head 
body
 div.container
  header
   h2 Neosoft Technologies
   div.links
    ul 
      li home
       a(href="") 
      li aboutus
      li Gallary 
      li Services 
      li Contact Us
  main 
   div.category
    h2 Category
    ul 
      li Mens 
      li Womens
      li Kids 
       
   div.content
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores ducimus iure assumenda sequi ex et aperiam consectetur nemo, eaque quo fuga deserunt! Cum quas earum asperiores minima. Eligendi, placeat? Nulla.
  footer 
    p copyright &copy; 2022. all right reserved