<html>
    <head>
        <title>Ejs Template</title>
    </head>
    <body>
        <!-- <%- include('./partials/header'); %>
        <section> -->
            <h2>Products<h2>
           
        <!-- </section>
        <%- include(./partials/footer.ejs); %> -->
    </body>
</html>