doctype html 
html 
head 
title Hello Pug Template 
link(rel="stylesheet", href="style.css")
body 
  include ./header.pug
  include ./footer.pug
  h1 welcome to Pug Template Engine
  a(href="login") click here