html 
body 
h2 Login page 
form(method="post" action="/postdata")
  label Uname 
  input(type="text" name="uname")
  br
  label Password 
  input(type="passsword" name="password")
  br
  input(type="submit" value="Submit")