<div class="container-fluid" style="width: 95%;">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active bgimage">
                        <img src="static/images/bg1.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="carousel-content">
                                <h1>The World <br> Of Extreme
                                    Sports</h1>
                                <p>Save <span style="color: blue;">20%</span> all apparel</p>
                                <hr>
                            </div>
                            <div class="carousel-btn">
                                <button class="btn btn-warning text-white btn-lg float-start">SHOP NOW<i
                                        class="bi bi-arrow-right-short fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item bgimage">
                        <img src="static/images/bg2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="carousel-content">
                                <h1>The World <br> Of Extreme
                                    Sports</h1>
                                <p>Save 20% all apparel</p>
                                <hr>
                            </div>
                            <div class="carousel-btn">
                                <button class="btn btn-warning text-white btn-lg float-start">SHOP NOW<i
                                        class="bi bi-arrow-right-short fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item bgimage">
                        <img src="static/images/bg3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="carousel-content">
                                <h1>The World <br> Of Extreme Sports</h1>
                                <p>Save 20% all apparel</p>
                                <hr>
                            </div>
                            <div class="carousel-btn">
                                <a href="/shopnow"><button class="btn btn-warning text-white btn-lg float-start">SHOP NOW<i
                                        class="bi bi-arrow-right-short fa-lg"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-3" style="width: 93.3%;">
        <div class="row align-items-center">
            <div class="col bg-primary me-3 p-3 block">
                <strong><i class="bi bi-truck" style="font-size:22px ;"> Free Shopping Worldwide</strong></i>
            </div>
            <div class="col bg-warning me-3 p-3 block">
                <strong><i class="bi bi-arrow-repeat " style="font-size:22px ;"> 100% Money Back - 48 Hours</strong></i>
            </div>
            <div class="col bg-danger p-3 block">
                <strong><i class="bi bi-wallet" style="font-size:22px ;">  24/7 Online Customer Support</strong></i>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="width: 95%;">
        <h5 class="pt-4">FEATURED COLLECTIONS</h5>
        <img src="static/images/border.jpg" alt="" height="20px" width="20%" class="mb-3">
        <ul class="menu">
            <li> <a href="" style="color: blue">NEW ARRIVALS</a></li>
            <li><a href="">Clothing</a></li>
            <li><a href="">Bags</a></li>
            <li><a href="">Shoes</a></li>
            <li><a href="">Tops</a></li>
            <li><a href="">Accesories</a></li>
        </ul>
<div class="card-group">
                <div class="card mb-5 me-3 ">
                    <img src="static/images/insta1.jpg" class="card-img-top" height="180px" alt="...">

                </div>
                <div class="card  mb-5 me-3">
                    <img src="static/images/insta2.jpg" class="card-img-top" height="180px" alt="...">

                </div>
                <div class="card mb-5 me-3">
                    <img src="static/images/insta3.jpg" class="card-img-top" height="180px" alt="...">

                </div>
                <div class="card  mb-5 me-3">
                    <img src="static/images/insta4.jpg" class="card-img-top" height="180px" alt="...">

                </div>
                <div class="card  mb-5 me-3">
                    <img src="static/images/insta5.jpg" class="card-img-top" height="180px" alt="...">

                </div>
                <div class="card border-white   ">
                    <img src="static/images/insta6.jpg" class="card-img-top" height="180px" alt="...">

                </div>
            </div>
            <div class="card-group">
                <div class="shadow me-5">
                    <h5 class="text-center mt-3">BEST SELLERS</h5>
                    <div class="scroll scrollable">
                        <div class="card mb-3 border-white " style="max-width: 540px;">
                            <div class="row g-0 ms-3 ">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img1.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Shoes</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img2.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Shoes</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img3.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Shoes</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img4.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Caps</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow me-5">
                    <h5 class="text-center mt-3">TOP RATE</h5>
                    <div class="scroll scrollable">
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img5.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Caps</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border "><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img6.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Bags</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img7.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Bags</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart "></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img8.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Sport Kit</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shadow">
                    <h5 class="text-center mt-3">TOP SPECIAL</h5>
                    <div class="scroll scrollable">
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3 ">
                                    <img src="static/images/cart-img9.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Jacket</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white " style="max-width: 540px; ">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img10.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Jacket</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img11.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Tracksuit</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3 border-white" style="max-width: 540px;">
                            <div class="row g-0 ms-3">
                                <div class="col-md-4 shadow p-3">
                                    <img src="static/images/cart-img12.jpg" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title text-start">Tracksuit</h5>
                                        <div class="text-start">
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star checked "></span>
                                            <span class="fa fa-star "></span>
                                            <span class="fa fa-star "></span>
                                        </div>
                                        <h4 class="text-danger text-start">$300</h4>
                                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-cart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-heart"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-eye-fill"></i></button>
                                                <button type="button" class="btn border"><i
                                                        class="bi bi-crop"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center text-white bgimage pt-5">
                <img src="static/images/boy2.jpg" alt="" style="height: 70px; width:70px; border-radius: 50%">
                <p class="pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta consequatur sed, velit
                    numquam
                    provident, nisi ea praesentium <br> sapiente,deserunt culpa perferendis! Tempora nihil illo aliquam
                    tenetur accusamus enim. Non, aspernatur.</p>
                <h5>BELL GRAHAM</h5>
                <p class="lead">writer</p>
                <div class="container-fluid pb-4">
                    <div class="row">
                        <div class="col bg-primary py-3 block">
                            <strong><i class="bi bi-facebook"> Facebook</strong></i>
                        </div>
                        <div class="col bg-warning p-3 block">
                            <strong><i class="bi bi-instagram"> Instagram</strong></i>
                        </div>
                        <div class="col bg-danger p-3 block">
                            <strong><i class="bi bi-twitter"> Twitter</strong></i>
                        </div>
                        <div class="col bg-info p-3 block">
                            <i class="fa-brands fa-pinterest"></strong></i>
                            <i><strong><span>Pinterest</span></strong></i>
                        </div>
                        <div class="col bg-dark p-3 block">
                            <strong><i class="bi bi-whatsapp"> Whatsapp</strong></i>
                        </div>
                    </div>
                </div>
                <img src="static/images/logo.jpg" alt="" style="height: 70px; width:70px; border-radius: 50%">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam adipisci sequi error eligendi quidem
                    architecto modi ipsum beatae debitis <br> ipsa minus iure iste eum consectetur quasi voluptates
                    placeat, doloribus eveniet?</p>

                <img src="static/images/visa.jpg" alt="" height="40px" width="40px">
                <img src="static/images/paypal.jpg" alt="" height="40px" width="40px">
                <img src="static/images/mc.jpg" alt="" height="40px" width="40px">

            </div>